# Flutter/Dart 관련 파일 제외
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# macOS 관련 파일 제외
.DS_Store

# Android 관련 파일 제외
*.iml
.gradle/
.idea/
local.properties

# VS Code 관련 파일 제외
.vscode/
